In [1]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#reading the data
data=pd.read_csv('nyc_taxi_trip_duration Dataset.csv')

In [3]:
#shape of the data
data.shape

(729322, 11)

In [4]:
#first five rows of the data
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848

In [5]:
#checking missing values in the data
data.isnull().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [6]:
#dropping the categorical and timestamp variables
data_new = data.drop(['id','pickup_datetime','dropoff_datetime','store_and_fwd_flag'], axis=1)
data_new.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,2,1,-73.953918,40.778873,-73.963875,40.771164,400
1,1,2,-73.988312,40.731743,-73.994751,40.694931,1100
2,2,2,-73.997314,40.721458,-73.948029,40.774918,1635
3,2,6,-73.961670,40.759720,-73.956779,40.780628,1141
4,1,1,-74.017120,40.708469,-73.988182,40.740631,848

In [7]:
#seperating independent and dependent variables
x = data_new.drop(['trip_duration'], axis=1)
y = data_new['trip_duration']
x.shape, y.shape

((729322, 6), (729322,))

In [8]:
#importing train_test_split to create validation set
from sklearn.model_selection import train_test_split

In [9]:
#creating the train and validation set
x_train, x_valid, y_train, y_valid = train_test_split(x, y, random_state = 101,  test_size=0.25)

In [10]:
# distribution in training set
y_train.value_counts(normalize=True)

348      0.001137
388      0.001113
417      0.001112
422      0.001108
394      0.001102
           ...
5024     0.000002
82826    0.000002
85570    0.000002
4906     0.000002
86150    0.000002
Name: trip_duration, Length: 5922, dtype: float64

In [11]:
#shape of training set
x_train.shape, y_train.shape

((546991, 6), (546991,))

In [12]:
#shape of validation set
x_valid.shape, y_valid.shape

((182331, 6), (182331,))

In [13]:
#import decision tree regressor
from sklearn.tree import DecisionTreeRegressor

In [14]:
#creating the decision tree function
dt_model = DecisionTreeRegressor(random_state=10)

In [15]:
#fitting the model
dt_model.fit(x_train, y_train)

DecisionTreeRegressor(random_state=10)

In [16]:
#checking the training score
dt_model.score(x_train, y_train)

0.9999981475001555

In [17]:
#checking the validation score
dt_model.score(x_valid, y_valid)

-0.3362612641154381

In [18]:
dt_model.predict(x_valid)

array([476., 408., 602., ..., 851., 578., 474.])