In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel('Dataset.xlsx')

In [3]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
data.shape

(541909, 8)

In [5]:
data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [12]:
data = data.drop(['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country'], axis=1)

In [13]:
data.head()

   Quantity         InvoiceDate  UnitPrice
0         6 2010-12-01 08:26:00       2.55
1         6 2010-12-01 08:26:00       3.39
2         8 2010-12-01 08:26:00       2.75
3         6 2010-12-01 08:26:00       3.39
4         6 2010-12-01 08:26:00       3.39

In [14]:
data.dtypes

Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
dtype: object

In [17]:
data['day_of_year'] = data['InvoiceDate'].dt.dayofyear
data['month_of_year'] = data['InvoiceDate'].dt.month
data['year'] = data['InvoiceDate'].dt.year

In [18]:
data.head()

   Quantity         InvoiceDate  UnitPrice  day_of_year  month_of_year  year
0         6 2010-12-01 08:26:00       2.55          335             12  2010
1         6 2010-12-01 08:26:00       3.39          335             12  2010
2         8 2010-12-01 08:26:00       2.75          335             12  2010
3         6 2010-12-01 08:26:00       3.39          335             12  2010
4         6 2010-12-01 08:26:00       3.39          335             12  2010

In [19]:
data['year'].value_counts()

2011    499428
2010     42481
Name: year, dtype: int64